body {
    background-color: cadetblue;
}

footer {
    text-align: center;
    font-family: "Calibri Light";
    font-weight: 300;
    color: white;

}

#quote-text{
    line-height: 100%;
    font-family: "Browallia New";
    /*font-size: x-large;*/
    border: none;
    height:180px;
    /*font-size: 50px;*/
}
#quote-text h2{
    font-size: 36px;
    font-weight: 900;
    text-align: justify;
}


.btn {
    padding-top: -20px;
    float: right;
    border: none;
    font-weight: 600;
}

#totweet {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
    background-color: inherit;
    float: left;
}

.jumbotron {
    margin: 15% auto auto auto;
    height: 400px;
    width: 650px;
    opacity: 0.9;
    box-shadow: 0 0 20px 5px rgba(0,0,0,.4);
}

p .jumbotron {
    /*margin-bottom: 15px;*/
}
#quote-author{
    position: relative;
   margin-right: 15px;
    text-align: right;

}
#quote-author h4{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;

}

/*.desk {*/
    /*height: 350px;*/
    /*width: 650px;*/
    /*margin: 20% auto auto auto;*/
    /*background-color: inherit;*/
    /*opacity: 0.9;*/
/*}*/
.img-rounded {
    border: none;
    border-radius: 15%;
    height: 32px;
   box-shadow: inset 0px 0px 3px 3px lightgray;
}
button{
    border:none;
}
button:hover,button:active,button:link,button:focus,button:visited{
    border:none;
}
.btn:hover,.btn:active,.btn:link{
    border:none;
}
#allquote {
    height: 250px;
}
@media screen and (max-width: 480px){
/*.desk {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin: 5px auto;*/
/*}*/
    /*.container .main{*/
        /*height: 700px;*/
        /*margin-top: 10px;*/
    /*}*/
    .jumbotron{
        height: 590px;
        width: 100%;
        margin: 15px auto;
    }
    #allquote{
        height: 100%;
        font-size: 120%;
    }
/*.container{*/
    /*height: 900px;*/
/*}*/
    #quote-text {
height: 300px;
    }
    #quote-text h2{
        font-size: 34px;
        text-align: left;
    }
    #quote-author h4{
        text-align: center;
    }
    #totweet {
        margin-top: 100px;
    }
    .btn {
        margin-top:100px;
    }
    footer h3{
        font-size: small;
        margin-top: 0;
    }
}